<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>Konoha</title>
    <link rel="stylesheet" href="{% static 'top_moments/css/styles.css' %}">
</head>

<body style="background-image: url('{% static 'top_moments/images/bg1.jpg'%}');">

<div class="container-fluid">
    <div class="row">
      <div class="col-sm-1">
      {% block sidebar %}
      <ul class="sidebar-nav">
      <p><a href="{% url 'top_moments:index' %}"><font color="#FF4500"> <h5>Konoha</h5> </font></a>  </p>
      <p><a href="{% url 'top_moments:tops' %}"><font color="#FF4500"> <h5>Tops</h5> </font></a>  </p>
      <p><a href="{% url 'top_moments:moments' %}"><font color="#FF4500"> <h5>Top moments</h5> </font></a>  </p>
      <p><a href="{% url 'top_moments:kunoichi' %}"><font color="#FF4500"> <h5>Top kunoichi</h5> </font></a></p>
      </ul>
      {% endblock %}
      </div>
      <div class="col-md-10 ">
      {% block content %}{% endblock %}
      </div>
    </div>

</div>
</body>

</html>