<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>Konoha</title>

    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>

<body style="background-image: url('{% static 'images/eyes.jpg'%}');">

<div class="container-fluid">

    <div class="row">
      <div class="col-sm-1">
      {% block sidebar %}
      <ul class="sidebar-nav">
      <p>  <a href="{% url 'top_moments:index' %}">Konoha</a>  </p>
      <p>  <a href="{% url 'top_moments:tops' %}">Tops</a>  </p>
      <p>  <a href="{% url 'top_moments:moments' %}">Top moments</a>  </p>
      <p>  <a href="{% url 'top_moments:kunoichi' %}">Top kunoichi</a>  </p>
      </ul>
      {% endblock %}
      </div>
      <div class="col-md-10 ">
      {% block content %}{% endblock %}
      </div>
    </div>

</div>

</body>

</html>